body{
    background-color: #F6F9FC !important;
    font-family: "Source Sans Pro" !important;
    color: #6B7C93 !important;
}


h1{
    font-size: 4.5em !important;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

a{
    color: #6B7C93 !important;
}

.links{
    word-spacing: .5em;
    padding-top: 1.5em;
}

.links-click{
    font-size: 1.5em;
    float: left;
    padding-bottom: 1em;
}

.header{
    font-family: "Open Sans" !important;
}

.container{
    padding: 2em !important;
}

#me{
    font-size: 2.25em;
    text-align: center;
    padding-top: 7em;
    padding-bottom: 7em;
}

.skills-txt{
    width: 100px;
    height: 70px;
}

.skills-text{
    color: #6B7C93;
    border: 2px solid #3ECF8C ;
    border-collapse: separate;
    perspective: 1px;
    -moz-border-image: -moz-linear-gradient(top, #3ECF8C 0%, #408AF8 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3ECF8C 0%, #408AF8 100%);
    border-image: linear-gradient(to right, #3ECF8C 0%, #408AF8 100%);
    border-image-slice: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: .5em;
    margin-bottom: .8em;
}

.skills-named{
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    padding: .5em 1em;
    margin-right: 1em;
}

.blue{
    border: 2px solid #408AF8;
}

.green{
    border: 2px solid #3ECF8C;
}

#projects-title{
    border: 2px solid #6772E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    padding: .15em .4em;
}


object{
    width: 100%;
}

#project{
    padding-top: 15em;
}

.project-tile{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5em;
    margin-top: 4em;
}

.proj-skills{
    margin-left: 2.4em;
    margin-right: -1em;
    margin-top: -1em;
    margin-bottom: -.2em;
}

.project-explore{
    color: #F6F9FC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 2.25em;
    background: linear-gradient(90deg, #408AF8 0%, #3ECF8C 100%);
    box-shadow: 0px 5px 15px rgba(64, 138, 248, 0.5);
    border-radius: 90px;
    width: 109px;
    height: 38px;
    left: 80px;
    top: 400px;
    margin-left: 1.4em;
    margin-top: -1.5em;
}

.explore-icon{
    position: relative;
    top: 0px;
    left: 5px;
}

/*.car{
    top: 25%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.map{
    width: 50%;
    top: 25%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}*/

.map{
    width: 25%;
    -webkit-transform: translateY(-260%) translateX(40%);
    -moz-transform: translateY(-260%) translateX(40%);
    -ms-transform: translateY(-260%) translateX(40%);
    -o-transform: translateY(-260%) translateX(40%);
    transform: translateY(-260%) translateX(40%);
}

.project-name{
    font-size: 2em;
    font-weight: bold;
    padding: .8em;
}

.project-desc{
    padding: 1em;
    font-size: 1.5em;
}
#resume{
    position: relative;
    top: 25px;
    left: 58px;
}

#projecti{
    position: relative;
    top: 25px;
    left: 56px;
}

#github{
    position: relative;
    top: 25px;
    left: 55px;
}

#linkedin{
    position: relative;
    top: 25px;
    left: 60px;
}

#contact{
    position: relative;
    top: 25px;
    left: 57px;
}

.skills-named:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.3), 0 0px 6px rgba(0,0,0,.2);
}

.skills-text:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.2), 0 0px 6px rgba(0,0,0,.1);
}

#projects-title:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.3), 0 0px 6px rgba(0,0,0,.2);
}


.project-explore:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 20px rgba(64, 138, 248, 0.5), 0 0px 30px rgba(64,138,248,.2);
}

a:hover{
    transform: translateY(-1px);
}

@media (max-width: 767px) {
    #me{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #project{
        padding-top: 1em;
    }


    /*.project-tile{
        max-height: 2000px;
    }

    .project-desc{
        padding-bottom: 5em;
    }*/
}
@media (max-width: 1200px) {
    .proj-skills{
        margin-bottom: 2em;
    }


}
/*
@media (max-width: 1200px) {
    .project-tile{
        max-height: 10000px;
    }
}

@media (max-width: 1000px) {
    .project-tile{
        max-height: 850px;
    }
}


