/* Main styles */

body{
    margin:0;
    font-family: 'Source Code Pro';
    background: #F6F9FC;
    color: #6B7C93;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

object{
    display:block;
    width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin: 0;
    padding: 1em 0;
}

button:hover{
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.name{
    float: left;
}


/* Header */
#header1{
    margin: 2em;
    font-family: "Open Sans";
    font-size:2em;
}

#header1 .content-wrap{
    padding: 0 1em;
}

.links{
    padding-top: 2.6em;
}

#section-a{
    padding: 3em;
}

#section-b{
    padding: .75em;
}

#section-c{
    padding: .75em;
}

/* Media Query */

@media(min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 15em)) 1fr;
    }

    .content-wrap{
        grid-column: 2/4;
    }

}


